@page
@model WebApp.Pages_CheckersOptions.IndexModel

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CheckersOption[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckersOption[0].Width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckersOption[0].Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckersOption[0].RandomMoves)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckersOption[0].WhiteStart)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CheckersOption) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RandomMoves)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WhiteStart)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
